@import '../../../scss/universal';


.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.submit{
    button{

        transition: ease-in-out 0.2s;
        width: 100%;
        padding: 4px;

        background: #FC7613;
        color: white;
        border: none;
        border-radius: 40px;

        &:hover{
            color: #FC7613;
            background: white;
        }
    }
}

