


<div class="home">
    <div class="icon">
        <img src="../../../assets/icon-star.svg" alt="">
    </div>
    
    <div class="title">
        <h1>How did we do?</h1>
    </div>
    
    <div class="subtitle">
        <p>
            Please let us know how we did with your support rewuest. All feed is appreciated to help us im our offering!
        </p>
    </div>
    
    <app-rating></app-rating>
    
    <div class="submit">
        <button routerLink="success">Submit</button>
    </div>
</div>