@import '../../../scss/universal';


.rating-container{
    display: flex;
    justify-content: space-between;

    margin-bottom: 12px;
}

.rate{
    color: #ffffff75;
    transition: ease-in-out 0.2s;
    

    &:hover{
        color: #ffffff;
        background: #FC7613;
    }
}

.active{
    background: #8a8a8a;
    color: white;
}